{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style> input {max-width: 36em};</style>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/FilmPageStyle.css' %}" rel="stylesheet">

    <link type="image/png" href="{% static 'favicon.ico' %}" rel="shortcut icon"/>

    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/montserrat.css.css' %}" rel="stylesheet">

    <title>{% block title %}Посмотрим{% endblock %}</title>
  </head>
  <body>
  	<header>

		<div class="nav">
			<div class="logo_pic">
				<a href="/"><img src="{% static 'images/logo.png' %}"></a>
			</div>
      {% if user.is_authenticated %}
      <span class="">{{user.username}}</span>
      {% endif %}
			<div class="profile_pic">
				<a href="profile"><img src="{% static 'images/person-circle.svg' %}"></a>
			</div>
    </div>
	</header>


    <div class="container-md py-4">
      {% block content %} {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
  </body>
</html>
