{% extends 'base.html' %}
{% block content %}
<section class="film_info">
  <div class="container">
    <div class="row gy-5 gx-1 form-group">
      <div class="col-md-4">
        <div class="film-pic">
          <img src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ film.kinopoisk_id }}.jpg">
        </div>
      </div>
      <div class="col">
        <div class="row gy-3 gx-1">
            <div class="col-md-offset-8"><h2>{{ film.name }}</h2></div>
            <div class="col-md-12">
              <p>
                {{ film.description }}
              </p>
            </div>
            <div class="col-md-8">
              <p>
                  <b>Жанры:</b> {% for genre in film.genres %}{{ genre }}/{% endfor %}
              </p>
            </div>
            <div class="col-md-8">
              <p>
                  <b>Год:</b> {{ film.year }}
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class=" row g-2 mt-0 pt-2">
        <div class="col-md-4">
          {% if user.is_authenticated %}
          <div class="rating-tag">
            {% if stats.rated %}
            <span class="rating">
              <font size="+3">{{ stats.rated }}/</font><font size="+1">10</font>
            </span>
            {% else %}
            <span>Rate</span>
            {% endif %}
            {% if stats.status %}
            <span>
              <button type="button" id="{{ stats.status }}" class="btn btn-secondary btn-lg" disabled>{{ stats.status }}
              </button>
            </span>
            {% else %}
            <span></span>
            {% endif %}
          </div>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Разметить
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" id="watching" href="#">Смотрю</a></li>
              <li><a class="dropdown-item" id="watched" href="#">Посмотрел</a></li>
              <li><a class="dropdown-item" id="plan" href="#">Буду смотреть</a></li>
              <li><a class="dropdown-item" id="quit" href="#">Бросил</a></li>
            </ul>
          </div>
          {% endif %}
        </div>
        <div class="col-md-8">
          <h4>Похожие</h4>
          <br>
          <div class="row row-cols-1 row-cols-md-5 g-4">
          {% for cl_film in close_films %}
            <div class="col">
              <div class="card">
                <a href="/film/{{ cl_film.kinopoisk_id }}"><img class="card-img-top" src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ cl_film.kinopoisk_id }}.jpg" alt="Card image cap"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ cl_film.name }}</h5>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock %}
