* {
	font-family:"Montserrat",arial,sans-serif;
	font-weight:500;
}
body {
	background:#F0F4F9;
}
.nav {
	padding: 30px 0 0 0;
	background:#66B678;
}
.nav .logo_pic {
	width:120px;
    display:inline-block;
    position:relative;
    height:100px;
    overflow:hidden;
    vertical-align: middle;
    margin-left: 45.5%;
    margin-right: auto;
   	margin-top: -18px;
}
.nav .logo_pic img {
	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width:135px;
    width:100%;
    display:inline-block;
    z-index:10;
}
.nav .profile_pic {
    width:50px;
    display:inline-block;
    position:relative;
    height:50px;
    overflow:hidden;
    vertical-align: middle;
    margin-right: 5%;
}
.nav .profile_pic img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width:135px;
    width:100%;
    display:inline-block;
    z-index:10;
}
.film_info {
	padding-top: 35px;
	margin-left: 50px;
}
/*<.film_info .row {
	border: solid;
	border-color: #000;
}*/
.film_info .film-pic {
	width:250px;
    display:inline-block;
    position:relative;
    height:320px;
    overflow:hidden;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}
.film_info .film-pic img {
	position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    max-width:255px;
    width:100%;
    display:inline-block;
    z-index:10;
}
.film_info .dropdown-menu #watching:hover {
    background: #66B678;
}
.film_info .dropdown-menu #watched:hover {
    background: #E84949;
}
.film_info .dropdown-menu #plan:hover {
    background: #F8E645;
}
.film_info .dropdown-menu #quit:hover {
    background: #9D9D9D;
}
.film_info .card img {
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.film_info .card .card-title {
    word-wrap: break-word;
    font-size: 0.8rem;
}