<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Посмотрим - FilmPage</title>

  	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  	<link type="text/css" rel="stylesheet" href="{% static 'css/FilmPageStyle.css' %}">
</head>
<body>
	<!-- Font -->
	<link href="{% static 'css/all.css' %}" rel="stylesheet">
	<link href="{% static 'css/montserrat.css' %}" rel="stylesheet">

	<header>
		
		<div class="nav">
			<div class="logo_pic">
				<a href="#homepage"><img src="../static/images/logo.png"></a>
			</div>	
			<div class="profile_pic">
				<a href="#profile"><img src="../static/images/person-circle.svg"></a>
			</div>
		</div>
	</header>
	
	<section class="film_info">
		<div class="container">
			<div class="row gy-5 gx-1 form-group">
				<div class="col-md-4">
					<div class="film-pic">
						<img src="../static/images/midsommar.jpg">
					</div>
				</div>
				<div class="col">
					<div class="row gy-3 gx-1">
    					<div class="col-md-offset-8"><h2>Название фильма</h2></div>
    					<div class="col-md-8">
    						<p>
    							День летнего солнцестояния – древний праздник, который во всех культурах окутан мистическим ореолом. В отрезанном от цивилизованного мира шведском поселении в этот день проводятся уникальные обряды с многовековой традицией. Именно туда отправляется группа молодых американских студентов-антропологов, прихватив с собой девушку одного из них. Однако вскоре после прибытия друзья выясняют, что местные обряды далеко не безобидны.
    						</p>
    					</div>
    				</div>
				</div>
			</div>
			<div class="row row g-2 mt-0 pt-2">
    			<div class="col-md-4">
    				<div class="dropdown">
  						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  							Разметить
  						</a>

  						<ul class="dropdown-menu">
    						<li><a class="dropdown-item" id="watching" href="#">Смотрю</a></li>
    						<li><a class="dropdown-item" id="watched" href="#">Посмотрел</a></li>
    						<li><a class="dropdown-item" id="plan" href="#">Буду смотреть</a></li>
    						<li><a class="dropdown-item" id="quit" href="#">Бросил</a></li>
  						</ul>
					</div>
    			</div>
    			<div class="col-md-8">
    				<h4>Похожие</h4>
    				<br>
    				<div class="row row-cols-1 row-cols-md-5 g-4">
    					<div class="col">
	    					<div class="card">
						    	<img class="card-img-top" src="../static/images/midsommar.jpg" alt="Card image cap">
						    	<div class="card-body">
						      		<h5 class="card-title">Midsommar</h5>
						    	</div>
						  	</div>
						</div>
						<div class="col">
						  	<div class="card">
						    	<img class="card-img-top" src="../static/images/midsommar.jpg" alt="Card image cap">
						    	<div class="card-body">
						      		<h5 class="card-title">Midsommar</h5>
						    	</div>
						  	</div>
						</div>
						<div class="col">
						  	<div class="card">
						    	<img class="card-img-top" src="../static/images/midsommar.jpg" alt="Card image cap">
						    	<div class="card-body">
						      		<h5 class="card-title">Midsommar</h5>
						    	</div>
						  	</div>
						</div>
						<div class="col">
						  	<div class="card">
						    	<img class="card-img-top" src="../static/images/midsommar.jpg" alt="Card image cap">
						    	<div class="card-body">
						      		<h5 class="card-title">Midsommar</h5>
						    	</div>
						  	</div>
						</div>
						<div class="col">  	
						  	<div class="card">
						    	<img class="card-img-top" src="../static/images/midsommar.jpg" alt="Card image cap">
						    	<div class="card-body">
						      		<h5 class="card-title">Midsommar</h5>
						    	</div>
						  	</div>
						</div>
					</div>
    			</div>
    		</div>
		</div>		
	</section>

	<footer>
		<br>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>