{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style> input {max-width: 36em};</style>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  	<link type="text/css" rel="stylesheet" href="{% static 'css/HomePageStyle.css' %}">

    <script type="text/javascript" src="{% static 'js/HomeSearch.js' %}" defer></script>

    <title>{% block title %}Посмотрим{% endblock %}</title>
  </head>
  <body>
  	<header>

		<div class="nav">

        {% if user.is_authenticated %}
				<div class="dropdown" id="profile-dropdown">
          <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="profile_pic">
            <img src="{% static 'images/person-circle.svg' %}">
          </div>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/users/{{ user.pk }}">Профиль</a></li>
          <li><a class="dropdown-item" href="#">Друзья</a></li>
          <li><a class="dropdown-item" href="/users/logout">Выйти</a></li>
        </ul>
      </div>
        {% else %}
        <div class="profile_pic">
          <a href="/users/login"><img src="{% static 'images/person-circle.svg' %}"></a>
        </div>
        {% endif %}
    </div>
    <div class="main_logo">
      <img src="{% static 'images/logo.png' %}">
    </div>
    <div class="input-group mb-3">
      {% csrf_token %}
      <input type="text" class="form-control" id="SearchInput" placeholder="Найти фильм" aria-label="FilmSearch">
    </div>
    <div id="result-box" class="result-card not-visible">
    </div>
	</header>

  <section>
    <div class="container px-4 text-center">
          <div class="row gx-4 gy-5">
            <div class="col-md-5 d-flex justify-content-center" style="background-color: #E86262;">
              <div class="row gx-3 gy-3">
                <h5>Лучшее в жанре комедия</h5>
                {% for film in comedy %}
                <div class="col justify-content-center">
                  <a href="film/{{ film.pk }}">
                    <div class="selection-pic">
                      <img src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ film.kinopoisk_id }}.jpg">
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              <br>
            </div>
            <div class="col-md-5 d-flex offset-1 justify-content-center" style="background-color: #E7B05D;">
              <div class="row gx-3">
                <h5>Лучшее в жанре драма</h5>
                {% for film in drama %}
                <div class="col justify-content-center">
                  <a href="film/{{ film.pk }}">
                    <div class="selection-pic">
                      <img src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ film.kinopoisk_id }}.jpg">
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              <br>
            </div>
  </section>


    <div class="container-md py-4">
      {% block content %} {% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
  </body>
</html>
