<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Постмотрим - UserPage</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="./UserPageStyle.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">



<div class="profile_main">
  <div class="container"> 
    <div class="row">
      <div class="col-8 col-sm-8 col-md-8 col-xs-8 col-lg-8">
        <div class="image-wrapper">
          <a href="#" class="edit">Изменить</a>
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png">
        </div>
        <div class="about-user">
        <span class="name">Имя пользователя <a href="#" class="edit-icon"><i class="fas fa-edit"></i></a></span><br/>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-xs-4 col-lg-4"><a href="#homepage" class="logo-homepage">Homepage</a></div>
    </div>
  </div>
</div>
<div class="friends_link">
  <div class="container">
    <a href="#friends">Друзья</a>
  </div>
</div>

<section id="tabs" class="filter-tabs">
    <input type="radio" id="tab-watching" name="filtab" checked="checked">
    <label for="tab-watching" id="watching">Смотрю</label>
    <div class="tab">
        <table class="table" cellspacing="0">
            <thead>
                <br></br>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Фильм 1</a></td>
                    <td>Инфо</td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="radio" id="tab-watched" name="filtab">
    <label for="tab-watched" id="watched">Посмотрел</label>
    <div class="tab">
        <table class="table" cellspacing="0">
            <thead>
                <br></br>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Фильм 2</a></td>
                    <td>Инфо</td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="radio" id="tab-plan" name="filtab">
    <label for="tab-plan" id="plan">Буду смотреть</label>
    <div class="tab">
        <table class="table" cellspacing="0">
            <thead>
                <br></br>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Фильм 3</a></td>
                    <td>Инфо</td>
                </tr>
            </tbody>
        </table>
    </div>

    <input type="radio" id="tab-quit" name="filtab">
    <label for="tab-quit" id="quit">Бросил</label>
    <div class="tab">
        <table class="table" cellspacing="0">
            <thead>
                <br></br>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#">Фильм 4</a></td>
                    <td>Инфо</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<!-- partial -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
