{% load static %}
{% load friendshiptags %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Посмотрим - UserPage</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'css/UserPageStyle.css' %}" rel="stylesheet"/>

  <link type="image/png" href="{% static 'favicon.ico' %}" rel="shortcut icon"/>

  <link href="{% static 'css/all.css' %}" rel="stylesheet">
  <link href="{% static 'css/montserrat.css.css' %}" rel="stylesheet">

</head>

<body>
  <div class="profile_main">
    <div class="container">
      <div class="row">
        <div class="col-10 col-sm-10 col-md-10 col-xs-10 col-lg-10">
          <div class="image-wrapper">
            <a href="#" class="edit">Изменить</a>
            <img src="{% static 'images/avatar.png' %}">
          </div>
          <div class="about-user">
          <span class="name">{{ user.username }} <a href="#" class="edit-icon"><i class="fas fa-edit"></i></a></span><br/>
          </div>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-xs-1 col-lg-1 justify-content-center">
          <a href="/" class="logo-homepage">
            <img src="{% static 'images/mini_logo.png' %}">
          </a>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-xs-1 col-lg-1 justify-content-center">
          <div class="dropdown" id="profile-dropdown">
              <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="profile_pic">
                  <img src="{% static 'images/person-circle.svg' %}">
                </div>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/users/friends">Друзья</a></li>
                <li><a class="dropdown-item" href="/users/logout">Выйти</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="friend-request">
    {% if user.pk != request.user.pk %}
      {% if is_friends == 'friends' %}
      <button class="btn btn-primary" type="button" disabled>В друзьях</button>
      {% elif is_friends == 'requested' %}
      <button class="btn btn-primary" type="button" disabled>Запрос отправлен</button>
      {% else %}
      <button class="btn btn-primary" type="button" onclick="window.location.href='/users/friend-request/{{ user.pk }}';">Добавить в друзья</button>
      {% endif %}
    {% else %}
    <span></span>
    {% endif %}
  </div>

  <section id="tabs" class="filter-tabs">
      <input type="radio" id="tab-watching" name="filtab" checked="checked">
      <label for="tab-watching" id="watching">Смотрю</label>
      <div class="tab">
          <table class="table" cellspacing="0">
              <thead>
                  <br></br>
              </thead>
              <tbody>
                  {% for film in watching %}
                  <tr>
                      <td><a id="pic-wrapper" href="/film/{{ film.pk }}">
                        <img src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ film.pk }}.jpg">
                      </a></td>
                      <td><a id="film-link" href="/film/{{ film.pk }}">{{ film.name }}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>

      <input type="radio" id="tab-watched" name="filtab">
      <label for="tab-watched" id="watched">Посмотрел</label>
      <div class="tab">
          <table class="table" cellspacing="0">
              <thead>
                  <br></br>
              </thead>
              <tbody>
                  {% for film in watched %}
                  <tr>
                      <td><a id="pic-wrapper" href="/film/{{ film.pk }}">
                        <img src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ film.pk }}.jpg">
                      </a></td>
                      <td><a id="film-link" href="/film/{{ film.pk }}">{{ film.name }}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>

      <input type="radio" id="tab-plan" name="filtab">
      <label for="tab-plan" id="plan">Буду смотреть</label>
      <div class="tab">
          <table class="table" cellspacing="0">
              <thead>
                  <br></br>
              </thead>
              <tbody>
                  {% for film in plan %}
                  <tr>
                      <td><a id="pic-wrapper" href="/film/{{ film.pk }}">
                        <img src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ film.pk }}.jpg">
                      </a></td>
                      <td><a id="film-link" href="/film/{{ film.pk }}">{{ film.name }}</a></td>
                  </tr>
                  {% endfor %}              </tbody>
          </table>
      </div>

      <input type="radio" id="tab-quit" name="filtab">
      <label for="tab-quit" id="quit">Бросил</label>
      <div class="tab">
          <table class="table" cellspacing="0">
              <thead>
                  <br></br>
              </thead>
              <tbody>
                  {% for film in quit %}
                  <tr>
                      <td><a id="pic-wrapper" href="/film/{{ film.pk }}">
                        <img src="https://kinopoiskapiunofficial.tech/images/posters/kp/{{ film.pk }}.jpg">
                      </a></td>
                      <td><a id="film-link" href="/film/{{ film.pk }}">{{ film.name }}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </section>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.6.1.js' %}"></script>
</body>
</html>
