.rate {
	float: left;
	height: 46px;
	padding: 0;
}

.rate:not(:checked)>input {
	position: absolute;
	top: -9999px;
}

.rate:not(:checked)>label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 20px;
	color: #ccc;
}

.rate:not(:checked)>label:before {
	content: 'О';
}

.rate>input:checked~label {
	color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
	color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
	color: #c59b08;
}

.fav {
	float: left;
	height: 46px;
	padding: 0;
}

.fav:not(:checked)>input {
	position: absolute;
	top: -9999px;
}

.fav:not(:checked)>label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 20px;
	color: #ccc;
}

.fav:not(:checked)>label:before {
	content: '★';
}

.fav>input:checked~label {
	color: #ffc700;
}

.fav:not(:checked)>label:hover,
.fav:not(:checked)>label:hover~label {
	color: #deb217;
}

.fav>input:checked+label:hover,
.fav>input:checked+label:hover~label,
.fav>input:checked~label:hover,
.fav>input:checked~label:hover~label,
.fav>label:hover~input:checked~label {
	color: #c59b08;
}

.fav-checked {
	float: left;
	height: 46px;
	padding: 0;
}

.fav-checked:not(:checked)>input {
	position: absolute;
	top: -9999px;
}

.fav-checked:not(:checked)>label {
	float: right;
	width: 0.8em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 20px;
	color: #ccc;
}

.fav-checked:not(:checked)>label:before {
	content: 'O';
}

.fav-checked>input:checked~label {
	color: #ffc700;
}

.fav-checked:not(:checked)>label:hover,
.fav-checked:not(:checked)>label:hover~label {
	color: #deb217;
}

.fav-checked>input:checked+label:hover,
.fav-checked>input:checked+label:hover~label,
.fav-checked>input:checked~label:hover,
.fav-checked>input:checked~label:hover~label,
.fav-checked>label:hover~input:checked~label {
	color: #c59b08;
}

.clickable {
	cursor: pointer;
}

.panel-heading div {
	margin-top: -18px;
	font-size: 10px;
}

.panel-heading div span {
	margin-left: 10px;
}

.panel-body {
	display: none;
}

.id-form-control {
	display: block;
	width: 40px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
