.rating2 {
  width: 300px;
  margin-right: 25%;
  margin-left: auto;
  font-size: 20px;
  overflow:hidden;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a,
.rating label {
			float:right;
			color: #aaa;
			text-decoration: none;
			-webkit-transition: color .4s;
			-moz-transition: color .4s;
			-o-transition: color .4s;
			transition: color .4s;
		}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a	{
	color: orange;
	cursor: pointer;
}
.rating2 {
	direction: rtl;
}
.rating2 a {
	float:none
}